<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand ml-4 mr-4" href="#"><b>Central Perk</b></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'users_list' %}"
            >Add New Friends</a
          >
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'friend_list' %}"
            >Friends</a
          >
          <a class="nav-item nav-link" href="{% url 'my_profile' %}">Profile</a>
          <a class="nav-item nav-link" href="{% url 'post-create' %}"
            >Create Post</a
          >
          <a
            class="nav-item nav-link btn btn-danger ml-4 text-light"
            href="{% url 'logout' %}"
            >Logout</a
          >
          {% else %}
          <a
            class="nav-item nav-link btn btn-success ml-4 text-light"
            href="{% url 'login' %}"
            >Login</a
          >
          <a
            class="nav-item nav-link btn btn-info ml-3 text-light"
            href="{% url 'register' %} "
            >Register</a
          >
          {% endif %} {% block searchform %}{% endblock searchform %}
        </div>
      </div>
    </nav>




    {% if not posts %}
      <br />
      <h2><i>No posts match the tag provided!</i></h2>
      {% endif %}


      {% block searchform %}
<form
  class="form-inline my-2 my-lg-0 ml-5"
  action="{% url 'search_posts' %}"
  method="get"
>
  <input name="p" type="text" placeholder="Search posts.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form>
{% endblock searchform %}


class PostCreateView(LoginRequiredMixin,CreateView):
	model = Post
	template_name = 'feed/home.html'
	form_class = NewPostForm
	http_method_names = ['POST']
	
	def form_valid(self, form):
		if self.request.user.is_authenticated:
			form.instance.user = self.request.user
		return super(PostCreateView,self).form_valid(form)



    # following = models.ManyToManyField("Following",blank=True)
    # followers = models.ManyToManyField("Followers",blank=True)


    class Following(models.Model):
	to_Following = models.ForeignKey(settings.AUTH_USER_MODEL, related_name='to_Following', on_delete=models.CASCADE)
	from_Following = models.ForeignKey(settings.AUTH_USER_MODEL, related_name='from_Following', on_delete=models.CASCADE)
	timestamp = models.DateTimeField(auto_now_add=True)

	def __str__(self):
		return "From {}, to {}".format(self.from_Following.username, self.to_Following.username)

class Followers(models.Model):
	to_Follower = models.ForeignKey(settings.AUTH_USER_MODEL, related_name='to_Follower', on_delete=models.CASCADE)
	from_Follower = models.ForeignKey(settings.AUTH_USER_MODEL, related_name='from_Follower', on_delete=models.CASCADE)
	timestamp = models.DateTimeField(auto_now_add=True)

	def __str__(self):
		return "From {}, to {}".format(self.from_Follower.username, self.to_Follower.username)




    Windows PowerShell
Copyright (C) 2009 Microsoft Corporation. All rights reserved.

PS C:\Users\WAR10CK\Desktop\ByteWalk-master> & C:/Users/WAR10CK/Envs/test/Scripts/Activate.ps1
File C:\Users\WAR10CK\Envs\test\Scripts\Activate.ps1 cannot be loaded because the execution of scripts is disabled on this system. Please see "get-he
lp about_signing" for more details.
At line:1 char:2
+ & <<<<  C:/Users/WAR10CK/Envs/test/Scripts/Activate.ps1
    + CategoryInfo          : NotSpecified: (:) [], PSSecurityException
    + FullyQualifiedErrorId : RuntimeException
 
PS C:\Users\WAR10CK\Desktop\ByteWalk-master> py manage.py shell
Python 3.8.8 (tags/v3.8.8:024d805, Feb 19 2021, 13:18:16) [MSC v.1928 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
(InteractiveConsole)
>>> from django.contrib.auth.models import User
>>> user = User.objects.filter(username="itachi").first()
>>> pro = user.profile
>>> pro
<Profile: itachi>
>>> pro.friends.all()
<QuerySet [<Profile: jake>, <Profile: madara>, <Profile: naruto>]>
>>> pro.following.all()
<QuerySet []>
>>> user = User.objects.filter(username="hello").first()
>>> pro = user.profile
>>> pro
<Profile: hello>
>>> pro.following.all()
<QuerySet []>
>>> pro.friends.all()
<QuerySet []>
>>> user = User.objects.filter(username="itachi").first()
>>> follow = User.objects.filter(username="hello").first()
>>> from users.models import UserFollowing
>>> followup = UserFollowing.objects
>>> followup
<django.db.models.manager.Manager object at 0x000000000414EC10>
>>> followup = UserFollowing
>>>
>>> followup
<class 'users.models.UserFollowing'>
>>> user
<User: itachi>
>>> follow
<User: hello>
>>> follow = User.objects.filter(username="madara").first()
>>> follow
<User: madara>
>>> user
<User: itachi>
>>> followup
<class 'users.models.UserFollowing'>
>>> followup.objects.create(user_id = user,following_user_id = follow)
<UserFollowing: UserFollowing object (2)>
>>> followup.objects.all()
<QuerySet [<UserFollowing: UserFollowing object (1)>, <UserFollowing: UserFollowing object (2)>]>
>>> user.objects.a;;()
  File "<console>", line 1
    user.objects.a;;()
                   ^
SyntaxError: invalid syntax
>>> user.objects.all()
Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "C:\Users\WAR10CK\AppData\Local\Programs\Python\Python38\lib\site-packages\django\db\models\manager.py", line 179, in __get__
    raise AttributeError("Manager isn't accessible via %s instances" % cls.__name__)
AttributeError: Manager isn't accessible via User instances
>>> user
<User: itachi>
>>> pro
<Profile: hello>
>>> pro = user.profile
>>> pro
<Profile: itachi>
>>> prof = follow.profile
>>> prof
<Profile: madara>
>>> pro.friends.all()
<QuerySet [<Profile: jake>, <Profile: madara>, <Profile: naruto>]>
>>> prof.friends.all()
<QuerySet [<Profile: itachi>, <Profile: naruto>]>
>>> prof.following.all()
<QuerySet []>
>>> pro.following.all()
<QuerySet []>
>>> f1= pro.following.all()
>>> f1
<QuerySet []>
>>> f2=prof.following.all()
>>> f2
<QuerySet []>
>>> user.following.all()
<QuerySet [<UserFollowing: UserFollowing object (1)>, <UserFollowing: UserFollowing object (2)>]>
>>> pro
<Profile: itachi>
>>> prof
<Profile: madara>
>>> pro.following.add(follow)
Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "C:\Users\WAR10CK\AppData\Local\Programs\Python\Python38\lib\site-packages\django\db\models\fields\related_descriptors.py", line 950, in add
    self._add_items(
  File "C:\Users\WAR10CK\AppData\Local\Programs\Python\Python38\lib\site-packages\django\db\models\fields\related_descriptors.py", line 1126, in _add_items
    target_ids = self._get_target_ids(target_field_name, objs)
  File "C:\Users\WAR10CK\AppData\Local\Programs\Python\Python38\lib\site-packages\django\db\models\fields\related_descriptors.py", line 1068, in _get_target_ids
    raise TypeError(
TypeError: 'Profile' instance expected, got <User: madara>
>>> pro.following.add(prof)
>>> pro
<Profile: itachi>
>>> f1
<QuerySet [<Profile: madara>]>



  <div class="card card-signin my-5">
    <div class="card-body">
      {% for user_p in users %}
      <a href="{{ user_p.profile.get_absolute_url }}"
        ><img
          src="{{ user_p.profile.image.url }}"
          class="rounded mr-2"
          width="40"
          height="40"
          alt=""
      /></a>
      
      <a class="text-dark" href="{{ user_p.profile.get_absolute_url }}"
        ><b>{{ user_p }}</b></a
      >
      <br /><br />
      {% endfor %}
    </div>
  </div>


  <!-- <a class="btn btn-warning" href="/users/friend-request/cancel/{{ u.id }}">Cancel Request</a> -->

  @login_required
def cancel_friend_request(request, id):
	user = get_object_or_404(User, id=id)
	frequest = FriendRequest.objects.filter(
			from_user=request.user,
			to_user=user).first()
	frequest.delete()
	return HttpResponseRedirect('/users/{}'.format(user.profile.slug))


  # path('users/friend-request/send/<int:id>/', user_views.send_friend_request, name='send_friend_request'),
	# path('users/friend-request/cancel/<int:id>/', user_views.cancel_friend_request, name='cancel_friend_request'),
	# path('users/friend-request/accept/<int:id>/', user_views.accept_friend_request, name='accept_friend_request'),
	# path('users/friend-request/delete/<int:id>/', user_views.delete_friend_request, name='delete_friend_request'),
	# path('users/friend/delete/<int:id>/', user_views.delete_friend, name='delete_friend'),


    {% if request.user == u %}
    <div class="row">
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2>Friend Requests Sent ({{ sent_friend_requests.count }})</h2>
            <hr class="my-2" />
            {% if not sent_friend_requests %}
            <h5><i>No sent requests!</i></h5>
            {% else %} {% for s_request in sent_friend_requests %}
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"
              ><img
                src="{{ s_request.to_user.profile.image.url }}"
                class="rounded mr-2"
                width="40"
                height="40"
                alt=""
            /></a>
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"
              ><b>{{ s_request.to_user.username }}</b></a
            >
            <small class="float-right">
              
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2>Friend Requests Recieved ({{ rec_friend_requests.count }})</h2>
            <hr class="my-2" />
            {% if not rec_friend_requests %}
            <h5><i>No recieved requests!</i></h5>
            {% else %} {% for r_request in rec_friend_requests %}
            <a href="{{ r_request.from_user.profile.get_absolute_url }}"
              ><img
                src="{{ r_request.from_user.profile.image.url }}"
                class="rounded mr-2"
                width="40"
                height="40"
                alt=""
            /></a>
            <a
              class="mr-2 align-middle"
              href="{{ r_request.from_user.profile.get_absolute_url }}"
              ><b>{{ r_request.from_user.username }}</b>
            </a>
            <small class="float-right">
              <a
                class="btn btn-success mr-2"
                href="/users/friend-request/accept/{{ r_request.from_user.id }}"
                >Accept</a
              >
              <a
                class="btn btn-danger"
                href="/users/friend-request/delete/{{ r_request.from_user.id }}"
                >Reject</a
              >
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}




    <!-- consumer.py code -->

    # chat/consumers.py
from django.contrib.auth.models import User
import json
from channels.generic.websocket import AsyncWebsocketConsumer
from asgiref.sync import sync_to_async
from .models import Message

# users = sync_to_async(User.objects.all)()
# author_user = User.objects.filter(username=author).first()
class ChatConsumer(AsyncWebsocketConsumer):

    def fetch_messages(self , data):
        messages = Message.last_15_messages(self)
        content = {
            'messages': self.messages_to_json(messages)
        }
        self.send_chat_messages(content)    
    
    

    def new_messages(self , data):
        print("new messages")
        author = data['from']
        # author_user =  sync_to_async(User.objects.filter(username=author).first())
        # author_user = User.objects.filter(username=author).first()
        author_user = sync_to_async(get_author(author),thread_sensitive=True)
        message = Message.objects.create(author=author_user,content=data['message'])
        content = {
            'command':'new_messages',
            'message': self.message_to_json(message)
        }
        return self.send_chat_messages(content)
    
    def get_author(pk,author):
        return User.objects.filter(username=author).first().get(pk=pk)

    def messages_to_json(self,messages):
        result = []
        for message in messages:
            result.append(self.message_to_json(message))
        return result
    
    def message_to_json(self,message):
        return {
            'author' : message.author.username,
            'content': message.content,
            'timestamp': str(message.timestamp)
        }
    
    commands = {
        'fetch_messages':fetch_messages,
        'new_messages':new_messages,
    }

    async def connect(self):
        self.room_name = self.scope['url_route']['kwargs']['room_name']
        self.room_group_name = 'chat_%s' % self.room_name

        # Join room group
        await self.channel_layer.group_add(
            self.room_group_name,
            self.channel_name
        )

        await self.accept()

    async def disconnect(self, close_code):
        # Leave room group
        await self.channel_layer.group_discard(
            self.room_group_name,
            self.channel_name
        )

    # Receive message from WebSocket
    async def receive(self, text_data):
        data = json.loads(text_data)
        self.commands[data['command']](self,data)

    async def send_chat_messages(self,message):
        # message = data['message']

        # Send message to room group
        await self.channel_layer.group_send(
            self.room_group_name,
            {
                'type': 'chat_message',
                'message': message
            }
        )

    def send_message(self,message):
        self.send(text_data=json.dumps(message))

    # Receive message from room group
    async def chat_message(self, event):
        message = event['message']

        # Send message to WebSocket
        await self.send(text_data=json.dumps(message))





        <!-- js file in room  -->

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'fetch_messages'
            }));
            messageInputDom.value = '';
        };



<!-- new consumer.py code -->

# chat/consumers.py
from django.contrib.auth import get_user_model
from asgiref.sync import async_to_sync
from channels.generic.websocket import WebsocketConsumer
import json
from .models import Message

User = get_user_model()

class ChatConsumer(WebsocketConsumer):

    def fetch_messages(self, data):
        messages = Message.last_15_messages(self)
        content = {
            'command': 'messages',
            'messages': self.messages_to_json(messages)
        }
        self.send_message(content)

    def new_message(self, data):
        author = data['from']
        author_user = User.objects.filter(username=author).first()
        message = Message.objects.create(
            author=author_user, 
            content=data['message'])
        content = {
            'command': 'new_message',
            'message': self.message_to_json(message)
        }
        return self.send_chat_message(content)

    def messages_to_json(self, messages):
        result = []
        for message in messages:
            result.append(self.message_to_json(message))
        return result

    def message_to_json(self, message):
        return {
            'author': message.author.username,
            'content': message.content,
            'timestamp': str(message.timestamp)
        }

    commands = {
        'fetch_messages': fetch_messages,
        'new_message': new_message
    }

    def connect(self):
        self.room_name = self.scope['url_route']['kwargs']['room_name']
        self.room_group_name = 'chat_%s' % self.room_name
        async_to_sync(self.channel_layer.group_add)(
            self.room_group_name,
            self.channel_name
        )
        self.accept()
    
    def disconnect(self, close_code):
        async_to_sync(self.channel_layer.group_discard)(
            self.room_group_name,
            self.channel_name
        )

    def receive(self, text_data):
        data = json.loads(text_data)
        self.commands[data['command']](self, data)

    def send_chat_message(self, message):    
        async_to_sync(self.channel_layer.group_send)(
            self.room_group_name,
            {
                'type': 'chat_message',
                'message': message
            }
        )
    def send_message(self, message):
        self.send(text_data=json.dumps(message))

    def chat_message(self, event):
        message = event['message']
        self.send(text_data=json.dumps(message)) 




    <!-- working room.html code -->


    <!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}


    
</body>
    <script src="{% static 'feed/js/reconnecting_web_socket.js' %}"></script>
<script>
    const username = '{{ user }}';
    console.log('username :',username)

    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var author =  message['author']
        var content =  message['content']
        console.log('in chat socket message :',author)
        console.log('in chat socket message :',content)
        document.querySelector('#chat-log').value += (author +' : '+content + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        const message = messageInputDom.value;
        console.log('message :',message)
        chatSocket.send(JSON.stringify({
            'from': username,
            'command': 'new_messages',
            'message': message,
        }));
        messageInputDom.value = '';
    };
</script>
</html>





<!-- consumer code before i tried to make changes
 -->

 # chat/consumers.py
from django.contrib.auth.models import User
import json
from .models import Message
from asgiref.sync import async_to_sync
from channels.generic.websocket import WebsocketConsumer

class ChatConsumer(WebsocketConsumer):

    def fetch_messages(self , data):
        print("fetch")
        messages = Message.last_15_messages(self)
        content = {
            'messages': self.messages_to_json(messages)
        }
        self.send_chat_messages(content)    
    
    

    def new_messages(self , data):
        print("new messages")
        authors = data['from']
        # author_user =  sync_to_async(User.objects.filter(username=author).first())
        author_user = User.objects.filter(username=authors).first()
        # author_user = sync_to_async(get_author(author),thread_sensitive=True)
        message = Message.objects.create(author=author_user,content=data['message'])
        print("message in new_messages :",message)
        print("from in new_messages :",authors)
        content = {
            'command':'new_messages',
            'message': self.message_to_json(message)
        }
        
        return self.send_chat_messages(content)

    def messages_to_json(self,messages):
        result = []
        for message in messages:
            result.append(self.message_to_json(message))
        return result
    
    def message_to_json(self,message):
        print("message in message_to_json :",message.content)
        return {
            'author' : message.author.username,
            'content': message.content,
            'timestamp': str(message.timestamp)
        }
    
    commands = {
        'fetch_messages':fetch_messages,
        'new_messages':new_messages,
    }

    def connect(self):
        self.room_name = self.scope['url_route']['kwargs']['room_name']
        self.room_group_name = 'chat_%s' % self.room_name

        # Join room group
        async_to_sync(self.channel_layer.group_add)(
            self.room_group_name,
            self.channel_name
        )

        self.accept()

    def disconnect(self, close_code):
        # Leave room group
        async_to_sync(self.channel_layer.group_discard)(
            self.room_group_name,
            self.channel_name
        )

    # Receive message from WebSocket
    def receive(self, text_data):
        data = json.loads(text_data)
        # message = text_data_json['message']
        
        self.commands[data['command']](self,data)
    
    def send_chat_messages(self,message):
        # Send message to room group
        print("in the send_chat_mesages :", message)
        async_to_sync(self.channel_layer.group_send)(
            self.room_group_name,
            {
                'type': 'chat_message',
                'message': message
            }
        )

    def send_message(self,message):
        self.send(text_data=json.dumps(message))
        
    # Receive message from room group
    def chat_message(self, event):
        message = event['message']
        print("in the send_chat_mesage singele :", message)
        # Send message to WebSocket
        self.send(text_data=json.dumps(message))














        <!-- new working consume code -->

        # chat/consumers.py
from django.contrib.auth.models import User
import json
from .models import Message
from asgiref.sync import async_to_sync
from channels.generic.websocket import WebsocketConsumer

class ChatConsumer(WebsocketConsumer):

    def fetch_messages(self , data):
        # print("fetch")
        messages = Message.last_15_messages(self)
        
        content = {
            'command':'fetch_messages',
            'messages': self.messages_to_json(messages)
        }
        print("inthe fetch content:",content)
        self.send_chat_messages(content)    
    
    

    def new_messages(self , data):
        print("new messages")
        authors = data['from']
        # author_user =  sync_to_async(User.objects.filter(username=author).first())
        author_user = User.objects.filter(username=authors).first()
        # author_user = sync_to_async(get_author(author),thread_sensitive=True)
        message = Message.objects.create(author=author_user,content=data['message'])
        print("message in new_messages :",message)
        print("from in new_messages :",authors)
        content = {
            'command':'new_messages',
            'message': self.message_to_json(message)
        }
        
        return self.send_chat_messages(content)

    def messages_to_json(self,messages):
        result = []
        for message in messages:
            result.append(self.message_to_json(message))
        return result
    
    def message_to_json(self,message):
        print("message in message_to_json :",message.content)
        return {
            'author' : message.author.username,
            'content': message.content,
            'timestamp': str(message.timestamp)
        }
    
    commands = {
        'fetch_messages':fetch_messages,
        'new_messages':new_messages,
    }

    def connect(self):
        self.room_name = self.scope['url_route']['kwargs']['room_name']
        self.room_group_name = 'chat_%s' % self.room_name

        # Join room group
        async_to_sync(self.channel_layer.group_add)(
            self.room_group_name,
            self.channel_name
        )

        self.accept()

    def disconnect(self, close_code):
        # Leave room group
        async_to_sync(self.channel_layer.group_discard)(
            self.room_group_name,
            self.channel_name
        )

    # Receive message from WebSocket
    def receive(self, text_data):
        data = json.loads(text_data)
        # message = text_data_json['message']
        # print("in recieve, data :",data)
        print("in recieve, command :",data['command'])
        self.commands[data['command']](self, data)
        print("in the recieve :",self.commands[data['command']])
    
    def send_chat_messages(self,message):
        # Send message to room group
        # print("in the send_chat_mesages :", message)
        async_to_sync(self.channel_layer.group_send)(
            self.room_group_name,
            {
                'type': 'chat_message',
                'message': message
            }
            
        )

    def send_message(self,message):
        self.send(text_data=json.dumps(message))
        
    # Receive message from room group
    def chat_message(self, event):
        message = event['message']
        # print("in the send_chat_mesage singele :", message)
        # Send message to WebSocket
        self.send(text_data=json.dumps(message))







        {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- <link
      rel="icon"
      type="image/png"
      href="https://dl.dropboxusercontent.com/s/o093y16u4d3kojv/code.png?dl=0"
    /> -->
    <!-- Bootstrap CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://dl.dropboxusercontent.com/s/ecyb1drs5j1jyjf/styles.css?dl=0"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        
    <link rel="icon" href="{% static 'feed/img/brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"> -->
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'feed/vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'feed/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'feed/css/argon.css' %}" type="text/css">

  <!-- my css code -->

  <link rel="stylesheet" href="{% static 'feed/css/style.css' %}" type="text/css">
    <title>Central Perk</title>
  </head>
<body >
    <!--Navbar -->
    <!-- <div class="wrapper"> -->
      <!-- Topnav -->
      <nav class="navbar navbar-top navbar-expand navbar-dark bg-default border-bottom">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- add icon here -->
            <!-- Search form -->
            <form class="navbar-search navbar-search-light form-inline mr-sm-3 ml-auto" id="navbar-search-main" method="POST"
            action="{% url 'search_posts' %}">
            {% csrf_token %}
              <div class="form-group mb-0 ">
                <div class="input-group input-group-alternative input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input class="form-control" placeholder="Search" name="searched" type="text">
                </div>
              </div>
              <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </form>
            
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center   ">
              <li class="nav-item d-xl-none">
                <!-- Sidenav toggler -->
                <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </div>
              </li>
              <li class="nav-item d-sm-none">
                <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                  <i class="ni ni-zoom-split-in"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ni ni-bell-55"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                  <!-- Dropdown header -->
                  
                  <!-- View all -->
                  
                </div>
              </li>
              
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
              <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media align-items-center">
                    <span class=" rounded-circle">
                      <img src="{{ user.profile.image.url }}" class=" avatar rounded-circle">
                    </span>
                    <div class="media-body  ml-2  d-none d-lg-block">
                      <span class="mb-0 text-sm  font-weight-bold">{{ user.profile.user }}</span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right ">
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome!</h6>
                  </div>
                  <a href="{% url 'my_profile' %}" class="dropdown-item">
                    <i class="ni ni-single-02"></i>
                    <span>My profile</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ni ni-settings-gear-65"></i>
                    <span>Settings</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ni ni-calendar-grid-58"></i>
                    <span>Activity</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ni ni-support-16"></i>
                    <span>Support</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="ni ni-user-run"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
            {% endif %} 
          </div>
        </div>
      </nav>
  
    
      {% block content %}
      {% endblock content %}

  <!-- </div> -->
  </body>
  <!-- Argon Scripts -->
  <!-- Core -->
  <!-- <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script> -->
  <!-- Argon JS -->
  <!-- <script src="assets/js/argon.js"></script> -->

  <!-- JS Files -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {% block jsfiles %}{% endblock jsfiles %}
</html>


<!-- home.html code before style -->

{% extends "feed/base.html" %} 
{% load static %}
 {% block content %}
 <main>
  <div class="main-section">
    <div class="container">
      <div class="main-section-data">
        <div class="row row2">
          <div class="col-lg-6 col-md-8 no-pd">
            <div class="main-ws-sec">
                <div class="central-meta1">
                  <div class="new-postbox1">
                    <figure>
                      <img src="images/resources/admin2.jpg" alt="">
                    </figure>
                    <div class="newpst-input1" >
                      <form method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea rows="2" placeholder="write something" name="description"></textarea>
                        <div class="attachments1">
                          <ul>
                            <li>
                              <label class="fileContainer">
                                <i class="fa fa-tags"></i>
                                  <input type="text" name="tags ">
                              </label>
                              
                              <label class="fileContainer">
                                <i class="fa fa-camera"></i>
                                  <input type="file" name="pic">
                              </label>
                            {{ form.NewPostForm }}
                          
                          </li>
                            <li>
                              <button class="btn-primary" type="submit">Post Now</button>
                            </li>
                          </ul>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
          
              <div class="container-fluid">
                  <div class="row row2">
                    <div class="col-md-8">
                    {% for post in posts %}
                      <div class="card card-signin my-5" onclick='location.href="{% url 'post-detail' post.id %}";' style="cursor: pointer;">
                        
                        <!-- <a href="{% url 'post-detail' post.id %}" style="display: block"> -->
                          
                        <div class="card-body">
                          <a href="{{ post.user_name.profile.get_absolute_url }}">
                            <img src="{{ post.user_name.profile.image.url }}" class="rounded-circle" width="30" height="30" alt=""/>
              
                          </a>
                          <a class="text-dark" href="{{ post.user_name.profile.get_absolute_url }}">
                            <b>{{ post.user_name }}</b>
                          </a>
          <br /><small class="text-muted"
            >Posted on {{ post.date_posted }}</small
          >
          <br /><br />
          <p class="card-text text-dark">{{ post.description }}</p>
        </div>
        <a href="{% url 'post-detail' post.id %}" >
          {% if post.pic %}
          <img class="card-img-top" src="{{ post.pic.url }}" alt="" />
          {% endif %}
        </a>
        {% if post.tags %}
        <br />
        <p class="text-danger ml-3">
          <b>Tags: <i>{{ post.tags }}</i></b>
        </p>
        {% endif %}
        <div class="card-footer">
          <button class="btn btn-white mr-3 like" id="{{ post.id }}">
            {% if post in liked_post %}
            <a
              href="{% url 'post-like' %}"
              style="color: red"
              id="likebtn{{ post.id }}"
            >
              Unlike</a
            >
            | {{post.likes.count}} {% else %}
            <a
              href="{% url 'post-like' %}"
              style="color: green"
              id="likebtn{{ post.id }}"
            >
              Like</a
            >
            | {{post.likes.count}} {% endif %}
          </button>
          <a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}"
            >Comments | {{ post.details.count }}</a
          >
        </div>
        <!-- </a> -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
</div>
{% if is_paginated %} 
	{% if page_obj.has_previous %}
		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
		<a
		  class="btn btn-outline-info mb-4"
		  href="?page={{ page_obj.previous_page_number }}"
		  >Previous</a
		>
	{% endif %}
	{% for num in page_obj.paginator.page_range %}
		{% if page_obj.number == num %}
			<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
			<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
		{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
		<a
		  class="btn btn-outline-info mb-4"
		  href="?page={{ page_obj.next_page_number }}"
		  >Next</a
		>
		<a
		  class="btn btn-outline-info mb-4"
		  href="?page={{ page_obj.paginator.num_pages }}"
		  >Last</a
		>
	{% endif %}

{% endif %} 
        </div>
      </div><!-- main-section-data end-->
    </div> 
  </div>
</main>
{% endblock content %} 

{% block jsfiles %}
<script>
  $(".like").click(function (e) {
    var id = this.id;
    var href = $(".like").find("a").attr("href");
    e.preventDefault();

    $.ajax({
      url: href,
      data: {
        likeId: id,
      },
      success: function (response) {
        if (response.liked) {
          $("#likebtn" + id).html("Unlike");
          $("#likebtn" + id).css("color", "red");
        } else {
          $("#likebtn" + id).html("Like");
          $("#likebtn" + id).css("color", "green");
        }
      },
    });
  });
</script>
{% endblock jsfiles %}


<!-- working profile code before changes -->

{% extends "feed/base.html" %}
 {% load static %}
  {% block content %}
<br /><br />
<div class="main-content">
  <div class="container mt-7">
    <div class="row">
      <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="{{ u.profile.image.url }}">
                  <img
                    src="{{ u.profile.image.url }}"
                    class="rounded-circle"
                    width="160px"
                    height="160px"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          ></div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div
                  class="card-profile-stats d-flex justify-content-center mt-md-5"
                >
                  <div>
                    <span class="heading">{{ u.profile.friends.count }}</span>
                    {% if request.user == u %}
                    <span class="description"
                      ><a href="{% url 'friend_list' %}">Friends</a></span
                    >
                    {% else %}
                    <span class="description">Friends</span>
                    {% endif %}
                    <span class="heading">{{ post_count }}</span>
                    <span class="description"
                      ><a href="{% url 'user-posts' u.username %}"
                        >Posts</a
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>{{ u }}</h3>
              <p>{{ u.profile.bio }}</p>
              <hr class="my-2" />
              {% if request.user == u %}
              <a class="btn btn-info" href="{% url 'edit_profile' %}"
                >Edit Profile</a
              >
              {% else %} 
              {% if button_status == 'not_friend' %}
              <small
                ><a
                  class="btn btn-primary"
                  href="{% url 'follow_request' u.id %}"
                  >Follow</a
                ></small
              >
              {% elif button_status == 'friend_request_sent' %}
              <small
                >
                
                </small
              >
              {% elif button_status == 'friend_request_received' %}
              <small
                ><a
                  class="btn btn-success mr-2"
                  href="/users/friend-request/accept/{{ u.id }}"
                  >Accept Request</a
                ></small
              >
              <small
                ><a
                  class="btn btn-danger"
                  href="/users/friend-request/delete/{{ u.id }}"
                  >Reject Request</a
                ></small
              >
              {% else %}
              <small
                ><a
                  class="btn btn-danger"
                  href="/users/friend/delete/{{ u.id }}"
                  >UnFriend</a
                ></small
              >
              {% endif %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- frient code was here -->
    <div class="row">
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2>Followers ({{ followers.count }})</h2>
            <hr class="my-2" />
            {% if not followers %}
            <h5><i>You have no followers!</i></h5>
            {% else %} 
            {% for follow in followers %}
            <a href="{{ follow.get_absolute_url }}" >
              <img src="{{ follow.image.url }}" class="rounded mr-2" width="40" height="40" alt="" />
          </a>
            <a href="{{ follow.get_absolute_url }}">
              <b>{{ follow.user }}</b>
            </a >
            <small class="float-right">
            {% if request.user == u %}
            
              <a class="btn btn-primary mr-2" href="#" >Follow Back</a>
            
            {% endif %}
          </small>
            <br /><br />
            
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2>Following ({{ followings.count }})</h2>
            <hr class="my-2" />
            {% if not followings %}
            <h5><i>You are not Following Anyone!</i></h5>
            {% else %} {% for Following in followings %}
            <a href="{{ Following.get_absolute_url }}"
              ><img
                src="{{ Following.image.url }}"
                class="rounded mr-2"
                width="40"
                height="40"
                alt=""
            /></a>
            <a
              class="mr-2 align-middle"
              href="{{ Following.get_absolute_url }}"
              ><b>{{ Following.user }}</b>
            </a>
            <small class="float-right">
              {% if request.user == u %}
              <a
                class="btn btn-danger mr-2"
                href="#"
                >Remove</a
              >
              <!-- <a
                class="btn btn-danger"
                href="/users/friend-request/delete/{{ r_request.from_user.id }}"
                >Reject</a
              > -->
              {% endif %}
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


<!-- working search_post function -->

<!-- <div class="container">
  <div class="row"> -->
    <!-- <div class="col-md-8">
      <div class="col-md-8"> -->
        <div>
          {% if searched or posts or users %}
              <h1 style="color: white;">you searched for {{searched}}</h1>
          {% else %}
              <h1>hey! you forget to search for the post</h1>
          {% endif %}
        </div>
        {% if not users %}
        <br /><br />
        
        {% else %}
        <div class="card card-signin my-5">
          <div class="card-body">
            {% for user_p in users %}
            <a href="{{ user_p.profile.get_absolute_url }}" >
              <img
                src="{{ user_p.image.url }}"
                class="rounded mr-2"
                width="40"
                height="40"
                alt=""
            />
          </a>
            <a class="text-dark" href="{{ user_p.profile.get_absolute_url }}">
              <b>{{ user_p }}</b>
              </a>
            
            <small class="float-right">
              <a
                class="btn btn-primary mr-2"
                href="{% url 'follow_request' user_p.id %}"
                >Follow</a
              >
            </small>
            <small class="float-right">
              <a
                class="btn btn-primary mr-2"
                href="{{ user_p.profile.message_url }}"
                >{{ message }}</a
              >
            </small>
            
            
            <br /><br />
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% for post in posts %}
    <div class="createPost card card-signin my-5" >
      <!-- <div class="card card-signin my-5"  style="cursor: pointer;"> -->
        
        
        <a href="{% url 'post-detail' post.id %}" style="display: block">
          
        <div class="card-body no-padding">
          <a href="{{ post.user_name.profile.get_absolute_url }}" class="post-details">
            <img src="{{ post.user_name.profile.image.url }}" class="avatar rounded-circle"  alt=""/>

          </a>

          <a class="text-dark post-details" href="{{ post.user_name.profile.get_absolute_url }}">
            <b class="post-details">{{ post.user_name }}</b>
            <!-- <b class="post-details">@{{ post.user_name }}</b> -->
          </a>
          <br/>
          <small class="text-muted">Posted on {{ post.date_posted }}</small>
          <br /><br />
        </div>
        <!-- <div class="card-img-2"> -->
        <!-- <a href="{% url 'post-detail' post.id %}" > -->
            {% if post.pic %}
            <img class="card-img-top post-img card-img-2 basic-mod" src="{{ post.pic.url }}" alt="" onclick='location.href="{% url 'post-detail' post.id %}";'/>
          {% endif %}
        <!-- </a> -->
      <!-- </div> -->
      <div class="card-text-2 ">
      <p class="card-text">{{ post.description }}</p>
    </div>
        {% if post.tags %}
          
        
          <p class="text-secondary ml-3">
            <b>Tags: <i>{{ post.tags }}</i></b>
        </p>
        {% endif %}
      </a>
      
        <div class="card-footer" style="background: transparent;">
          <button class="btn btn-white mr-3 like basic-mod" id="{{ post.id }}" >
            {% if post in liked_post %}
            <a href="{% url 'post-like' %}" style="color: red" id="likebtn{{ post.id }}" >Unlike</a>|  <b id="like-count">{{post.likes.count}}</b>
            {% else %}
            <a href="{% url 'post-like' %}" style="color: green" id="likebtn{{ post.id }}">Like</a>| {{post.likes.count}} 
            {% endif %}
          </button>
          <a class="btn btn-outline-info basic-mod" href="{% url 'post-detail' post.id %}">Comments | {{ post.details.count }}</a>
        </div>
    </div>
    {% endfor %}
    </div>
  </div>



  <!-- working code of edit-profile -->

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-8 col-lg-7 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><b>Update Profile</b></h5>
            <form class="form-signin" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                <br />
                {{ u_form|crispy }} {{ p_form|crispy }}
              </fieldset>
              <div class="form-group">
                <button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  type="submit"
                >
                  Update</button
                ><br /><br />
                <a
                  class="btn btn-lg btn-warning btn-block text-uppercase"
                  href="{% url 'my_profile' %}"
                  >Go Back</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- chat view.py inbox code -->

  # context['message_list'] = context['foo_list'].filter(Country=64)
        # context['thread']= Thread.objects.filter(Q(first=self.request.user)|Q(second=self.request.user)).values()
        
        context['messages'] = Thread.objects.by_user(self.request.user)
        # print("context is ",context['thread'])

        # for i in context['messages']:
            
            
            # print("chat is ",chat)
            # print("in the thread",i)
            
        # other_user = []
        # for i in context['thread']:
        #     print("thread is ",i)
        #     if i['first_id'] == self.request.user.id:
        #         username = User.objects.filter(id = i['second_id'])
        #         other_user.append(username)
        #     else:
                
        #         username = User.objects.filter(id = i['first_id'])
        #         other_user.append(username)
        # # print("thread obj is ",context['thread'])
        # print("the other user is ",other_user)
        thread_obj = []
        for i in context['messages']:
            chat = ChatMessage.objects.filter(thread=i).values().order_by('-timestamp')
            
            print("chat is ",chat)
            # context['chat'] = chat[0]
            # thread_obj.append(chat[0])
            print("chat is user",chat)
            # print("chat is message",chat[0]['message'])
        # context['messages']= ChatMessage.objects.filter(user=self.request.user)
        # print("get_context_data ",thread_obj)
        context['thread_obj']=thread_obj
        # context['users']=other_user
        return context
